@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer
<h4>Add a new engineer</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.PersonName)
    @Html.TextBoxFor(model => model.PersonName)

    <input type="submit" value="Add new engineer" class="btm btn-primary" />

}
<p>@Html.ActionLink("Show all engineers", "Index")</p>